<!DOCTYPE html>
<html lang="en">
{% extends "home.html" %}

{% block content %}

<head>
    <meta charset="UTF-8">

    <title>Title</title>
</head>
<body>
<b>
 <h1 class="text-4xl text-gray-900"  style="color:Teal; font-family:courier; font-size:200%;">Platform Details</h1></b>
<div class="container mt-4">

<form method = "GET" enctype="multipart/form-data">
<br>
    {% csrf_token %}
    <b>
    {{ form.as_p }}</b>

</form>
    <br>
    <br>
    <p>Are you sure you want to delete this platform?</p>
 <a href="{% url 'home' %}" class= " btn btn-outline-success" >Cancel</a>
      <input type = "submit" name = "Yes">
{% endblock %}
</div>
</body>
</html>